body {
    margin: 0;
    padding: 0;
}
#root {
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    display: -webkit-flex;
}
#renderArea {
    width: 100%;
    /* background-color: rgba(255, 255, 0, 0.2); */
    display: flex;
    display: -webkit-flex;
}
.leftArea {
    width: 20%;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 0 10px;
}
.rightArea {
    width: 80%;
    background-color: rgba(0, 0, 255, 0.3);
}
#webglArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.objList {
    border: 1px solid #000;
}
.objList ul {
    padding: 0 10px 0 30px;
}
.row {
    padding: 4px 0;
}
.row .label {
    display: inline-block;
    width: 50px;
    text-align: right;
}
.row input {
    width: 38px;
    margin-left: 10px;
}